@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    /* box-sizing: border-box;  */
}

/* body {
    max-width: 50%;
} */
.container {
    font-family: raleway, sans-serif; 
}

/*----------------------------------------------*/
.header {
    grid-area: free;
    color: white;
    background-color: black;
    height: 40px;
    font-family: raleway;
    font-size: 12px;
    letter-spacing: 0.2em;    
    display: grid;
    justify-content: center;
    align-items: center;

}
/*----------------------------------------------*/




.account {
    font-size: 15px;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.topmenu {
    font-size: 13px;
    letter-spacing: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.topmenu p {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
#burger {
    height: 30px;
    width: 30px;
    display: none;
}
#cart {
    height: 30px;
    width: 30px;
    display: none;
}
/*----------------------------------------------*/


.follow p {
    font-size: 22px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: raleway, sans-serif;
    letter-spacing: 0.2em;    

}

.footer {

    height: 420px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    /* display: grid;
    grid-template-areas:
    "service service service"
    ; */

}

.footer li {
    list-style: none;
    font-size: 15px;
        text-align: left;
}
.service {
    height: 170px;
    text-align: center;
    align-content: center;
    line-height: 1.65;
    margin-left: -250px;  
 
}
.service li {
   padding-right: 150px;
}

.company {
    height: 170px;
    width: 200px;
    line-height: 1.65;
    text-align: right;
}
.company li {
    text-align: left;
}

.sign-up {
    height: 300px;
    width: 295px;
    line-height: 1.65;

}

input {
    /* width: 400px; */
    height: 44px;
    width: 295px;
    box-sizing: border-box;  
    padding: 12px 14px;  
}

button {
    background-color: black;
    color: white;
    font-family: raleway, sans-serif;
    font-size: 13px;
    height: 43px;
    width: 152px;
    border: none;
}

/*----------------------------------------------*/

.creditcards {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.creditcards p {
    font-family: raleway, sans-serif;
    font-size: 12px;
    letter-spacing: 0.2em; 
    padding-right: 600px;
}

#cards {
    justify-items: right;
    height: 35px;
    padding-right: 200px;
    width: 486px;
}
